/* cisc3003-practice05.css */

/* --- Reset and Base Styles --- */
body, header, div, p, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Arial", sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Merriweather', "Times New Roman", serif;
}

/* --- Header / Banner Styles --- */
header {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.banner {
    width: 100%;
    display: block;
    filter: grayscale(100%);
}

header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.banner--title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    z-index: 2;
}

header h1, header h2 {
    color: white;
}

header h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

header h2 {
    font-size: 36px;
    font-weight: normal;
    margin-bottom: 20px;
}

header span {
    display: inline-block;
    text-align: center;
    font-size: 24px;
    padding: 9px;
    border: solid 1px white;
}

header span a:link, 
header span a:visited {
    color: white;
    text-decoration: none;
    border-bottom: 0.5px solid white;
    padding-bottom: 1px;
}

/* --- Highlights Section --- */
.highlights {
    width: 1170px;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;
}

.highlights h2 {
    font-size: 28px;
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.highlights--container {
    width: 570px;
    float: left;
    margin-bottom: 10px;
    padding-bottom: 10px;
    height: auto; 
    max-height: 220px; 
    overflow: hidden; 
    box-sizing: border-box;
}

.highlights--container:nth-child(3) { 
    float: right; 
}

.highlights--media {
    float: left;
    width: 50%; 
    padding-right: 15px;
    box-sizing: border-box;
}

.highlights--media img {
    width: 100%;
    height: auto;
    max-height: 285px; 
    object-fit: cover;
    display: block;
}

.highlights--text { 
    font-size: 16px; 
    max-height: 285px; 
}

.highlights--text h4 {
    color: #222;
    margin-bottom: 5px;
    line-height: 1.2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.highlights--text p {
    color: #555;
    margin-bottom: 10px;
}

.highlights--text em {
    color: #666;
    display: block;
    font-style: italic;
}

.highlights--button {
    float: right;
    background-color: #FF9800;
    color: white;
    padding: 6px 12px;
    text-decoration: none;
    font-size: 12px;
    border-radius: 3px;
}

/* --- Mosaic Section --- */
.mosaic {
	width: 1170px;
    position: relative;
    margin: 0 auto;
}
.mosaic-item {
    position: absolute;
}
.mosaic-item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mosaic--a {
    width: 580px;
    height: 390px;
    top: 0;
    left: 0;
}

.mosaic--b {
    width: 285px;
    height: 190px;
    top: 0;
    left: 590px;
}

.mosaic--c {
    width: 285px;
    height: 190px;
    top: 200px;
    left: 590px;
}

.mosaic--d {
    width: 285px;
    height: 390px;
    top: 0;
    left: 885px;
}

.mosaic--e {
    width: 285px;
    height: 390px;
    top: 400px;
    left: 0;
}

.mosaic--f {
    width: 285px;
    height: 190px;
    top: 400px;
    left: 295px;
}

.mosaic--g {
    width: 285px;
    height: 190px;
    top: 400px;
    left: 590px;
}

.mosaic--h {
    width: 285px;
    height: 390px;
    top: 400px;
    left: 885px;
}

.mosaic--i {
    width: 285px;
    height: 190px;
    top: 800px;
    left: 0;
}

.mosaic--j {
    width: 580px;
    height: 390px;
    top: 600px;
    left: 295px;
}

.mosaic--k {
    width: 285px;
    height: 190px;
    top: 800px;
    left: 885px;
}
